body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    height: 100vh;
    background-color: #d8bdcf;
}

.center-container {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    height: 100%;
}

.login-container {
    width: 350px;
    background-color: #f1dae9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    color: #e78ac8;
}

.tittle{
    color: #e44fa6;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    width: 100%;
    border: 1px solid #ecd4e1;
    border-radius: 4px;
    background-color: #fce9f4;
}

button {
    padding: 10px;
    background-color: #e49fc7;
    color: #f5dded;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e44fa6;
}
